name: Tests

on:
  push:
    paths-ignore:
      - "**.md"
      - ".dependabot/**"
      - ".vscode/**"
    branches-ignore:
      - "dependabot/**"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".dependabot/**"
      - ".vscode/**"

jobs:
  Test:
    name: Electron ${{ matrix.electron }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      node-version: 12.x
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        electron: [5, 6, 7, 8, beta]
        # Use older Node version for one test
        include:
          - os: ubuntu-latest
            electron: 5
            node-version: 10.x
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version || env.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version || env.node-version }}
      - name: Use Electron ${{ matrix.electron }}
        run: npm install --save-dev --package-lock-only electron@${{ matrix.electron }}
      - name: Install
        run: npm ci
      - name: Install libgbm1 (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: "sudo apt-get install libgbm1"
      - name: Test without Jest (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: "xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' npm run test-no-jest"
      - name: Test with Jest (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: "xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' npm run test"
      - name: Test without Jest (Windows & MacOS)
        if: matrix.os != 'ubuntu-latest'
        run: npm run test-no-jest
      - name: Test with Jest (Windows & MacOS)
        if: matrix.os != 'ubuntu-latest'
        run: npm run test
